/myWeb/temp
/myWeb/new_pic
/myWeb/new_attach
/myDLL/obj
/myEFrom/obj
/myWeb/obj
/ไฟล์สำรอง Crystal Reports
/myWeb/App_Data
/myWeb/Web_.config
/myEFrom/App_GlobalResources
/myEFrom/App_Data
/myEFrom/temp
/myEFrom/attach_file
